.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 1;
  max-width: auto;
  max-height: auto;
  align-items: center;
  margin-bottom: 0.75rem;
  padding-bottom: 1.5rem;
  justify-content: center;
  background-color: #1e293b;
}
.header-container1 {
  width: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
}
.header-navlink10 {
  color: #ffffff;
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
}
.header-navlink11 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
}
.header-navlink12 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
}
.header-navlink13 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
}
.header-navlink13:hover {
  color: var(--dl-color-pimary-500);
}

.header-navlink14 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
}
.header-navlink14:hover {
  color: var(--dl-color-pimary-500);
}

.header-navlink15 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 1rem;
  transition: 0.3s;
  font-family: Oxygen;
  font-weight: 700;
  line-height: 1.25;
  margin-left: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.header-navlink15:hover {
  color: var(--dl-color-pimary-500);
}

.header-container2 {
  width: auto;
  display: none;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
}
.header-navlink16 {
  color: #ffffff;
  width: auto;
  height: auto;
  font-size: 0.75rem;
  align-self: center;
  text-align: left;
  transition: 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 1.25;
  margin-left: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.header-navlink17 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 0.75rem;
  align-self: center;
  text-align: left;
  transition: 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 1.25;
  margin-left: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.header-navlink18 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 1.25;
  margin-left: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.header-navlink19 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 1.25;
  margin-left: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.header-navlink20 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 1.25;
  margin-left: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.header-navlink21 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 0.75rem;
  transition: 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 1.25;
  margin-left: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.headerroot-class-name {
  margin-bottom: 0px;
}

.headerroot-class-name2 {
  width: 100%;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
}



.headerroot-class-name6 {
  width: auto;
  height: auto;
  max-width: auto;
  max-height: auto;
  background-color: transparent;
}
.headerroot-class-name7 {
  width: auto;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: flex-start;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
  background-color: transparent;
}
.headerroot-class-name8 {
  width: 100%;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
}
.headerroot-class-name9 {
  width: 100%;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
}
.headerroot-class-name10 {
  width: auto;
  height: auto;
  align-self: center;
  background-color: transparent;
}
.headerroot-class-name11 {
  width: auto;
  height: auto;
  max-width: auto;
  max-height: auto;
  background-color: transparent;
}

.headerroot-class-name13 {
  align-self: center;
  margin-bottom: 0px;
  background-color: transparent;
}

.headerroot-class-name15 {
  width: 100%;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
}
.headerroot-class-name16 {
  width: 100%;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
}

.headerroot-class-name18 {
  width: 100%;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
}
.headerroot-class-name19 {
  width: 100%;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
}
.headerroot-class-name20 {
  width: 100%;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
}
.headerroot-class-name21 {
  width: 100%;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
}
.headerroot-class-name22 {
  width: 100%;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
}
.headerroot-class-name23 {
  width: 100%;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
}
.headerroot-class-name24 {
  width: 100%;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  margin-bottom: 0rem;
}
@media(max-width: 1600px) {
  .header-header {
    width: 100%;
    height: auto;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    margin-bottom: 0rem;
    padding-bottom: var(--dl-space-space-unitandhalf);
    background-color: #1e293b;
  }
  .header-container1 {
    width: 1242px;
    position: relative;
  }
  .header-navlink13 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .header-navlink14 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .header-container2 {
    width: 1242px;
    position: relative;
  }
  .headerroot-class-name2 {
    width: 100%;
    align-self: flex-start;
  }
  .headerroot-class-name7 {
    width: auto;
    align-self: flex-start;
  }
  .headerroot-class-name8 {
    width: 100%;
    align-self: flex-start;
  }
  .headerroot-class-name9 {
    width: 100%;
    align-self: flex-start;
  }
  .headerroot-class-name15 {
    width: 100%;
    align-self: flex-start;
  }
  .headerroot-class-name16 {
    width: 100%;
    align-self: flex-start;
  }
  .headerroot-class-name18 {
    width: 100%;
    align-self: flex-start;
  }
  .headerroot-class-name19 {
    width: 100%;
    align-self: flex-start;
  }
  .headerroot-class-name20 {
    width: 100%;
    align-self: flex-start;
  }
  .headerroot-class-name21 {
    width: 100%;
    align-self: flex-start;
  }
  .headerroot-class-name22 {
    width: 100%;
    align-self: flex-start;
  }
  .headerroot-class-name23 {
    width: 100%;
    align-self: flex-start;
  }
  .headerroot-class-name24 {
    width: 100%;
    align-self: flex-start;
  }
}
@media(max-width: 1200px) {
  .header-header {
    background-color: var(--dl-color-secondary-300);
  }
  .headerroot-class-name {
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .headerroot-class-name2 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name4 {
    flex: 0;
    height: auto;
    align-self: center;
    max-height: auto;
    min-height: auto;
  }
  .headerroot-class-name5 {
    flex: 0;
    height: auto;
    align-self: center;
    max-height: auto;
    min-height: auto;
  }
  .headerroot-class-name6 {
    width: auto;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name7 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name8 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name9 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name10 {
    width: auto;
    height: auto;
  }
  .headerroot-class-name11 {
    width: auto;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name13 {
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .headerroot-class-name15 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name16 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name18 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name19 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name20 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name21 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name22 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name23 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .headerroot-class-name24 {
    width: 100%;
    height: auto;
    align-self: center;
  }
}
@media(max-width: 991px) {
  .header-header {
    width: 100%;
    height: 75px;
    padding: 0px;
    max-width: auto;
    min-width: auto;
    margin-bottom: 0rem;
  }
  .header-container1 {
    gap: 0;
    width: auto;
    height: auto;
    max-width: auto;
    min-width: auto;
    max-height: auto;
  }
  .header-navlink10 {
    font-size: 0.7rem;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .header-navlink11 {
    font-size: 0.7rem;
    margin-right: var(--dl-space-space-unit);
  }
  .header-navlink12 {
    font-size: 0.7rem;
    margin-right: var(--dl-space-space-unit);
  }
  .header-navlink13 {
    font-size: 0.7rem;
    margin-right: var(--dl-space-space-unit);
  }
  .header-navlink14 {
    font-size: 0.7rem;
    margin-right: var(--dl-space-space-unit);
  }
  .header-navlink15 {
    color: var(--dl-color-gray-white);
    font-size: 0.7rem;
    font-family: Oxygen;
    font-weight: 700;
    line-height: 1;
    margin-right: var(--dl-space-space-unit);
    padding-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .header-container2 {
    gap: 0;
    width: auto;
    height: auto;
    display: none;
    max-width: auto;
    min-width: auto;
    max-height: auto;
  }
  .headerroot-class-name1 {
    width: 100%;
    align-self: center;
    margin-right: 0px;
  }
  .headerroot-class-name2 {
    width: 100%;
    align-self: center;
  }
  .headerroot-class-name3 {
    min-width: 100%;
  }
  .headerroot-class-name5 {
    max-width: 100%;
    min-width: 100%;
  }
  .headerroot-class-name7 {
    width: 100%;
    align-self: center;
  }
  .headerroot-class-name8 {
    width: 100%;
    align-self: center;
  }
  .headerroot-class-name9 {
    width: 100%;
    align-self: center;
  }
  .headerroot-class-name12 {
    max-width: 100%;
    min-width: 100%;
  }
  .headerroot-class-name14 {
    max-width: 100%;
    min-width: 100%;
  }
  .headerroot-class-name15 {
    width: 100%;
    align-self: center;
  }
  .headerroot-class-name16 {
    width: 100%;
    max-width: auto;
    align-self: center;
  }
  .headerroot-class-name17 {
    width: auto;
    min-width: 100%;
  }
  .headerroot-class-name18 {
    width: 100%;
    align-self: center;
  }
  .headerroot-class-name19 {
    width: 100%;
    align-self: center;
  }
  .headerroot-class-name20 {
    width: 100%;
    align-self: center;
  }
  .headerroot-class-name21 {
    width: 100%;
    align-self: center;
  }
  .headerroot-class-name22 {
    width: 100%;
    align-self: center;
  }
  .headerroot-class-name23 {
    width: 100%;
    align-self: center;
  }
  .headerroot-class-name24 {
    width: 100%;
    align-self: center;
  }
}
@media(max-width: 760px) {
  .header-header {
    width: 100%;
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
    background-color: #1e293b;
  }
  .header-container1 {
    width: 100%;
    height: var(--dl-size-size-tripleunit);
    display: none;
  }
  .header-container2 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .header-navlink16 {
    font-size: 0.65rem;
    align-self: center;
    margin-right: 0px;
    padding-right: 0px;
    background-color: var(--dl-color-secondary-300);
  }
  .header-navlink17 {
    font-size: 0.65rem;
    align-self: center;
    margin-right: 0px;
    padding-right: 0px;
    background-color: var(--dl-color-secondary-300);
  }
  .header-navlink18 {
    font-size: 0.65rem;
    align-self: center;
    margin-right: 0px;
    padding-right: 0px;
    background-color: var(--dl-color-secondary-300);
  }
  .header-navlink19 {
    font-size: 0.65rem;
    align-self: center;
    margin-right: 0px;
    padding-right: 0px;
    background-color: var(--dl-color-secondary-300);
  }
  .header-navlink20 {
    font-size: 0.65rem;
    align-self: center;
    margin-right: 0px;
    padding-right: 0px;
    background-color: var(--dl-color-secondary-300);
  }
  .header-navlink21 {
    font-size: 0.65rem;
    align-self: center;
    margin-right: 0px;
    padding-right: 0px;
    background-color: var(--dl-color-secondary-300);
  }
  .headerroot-class-name {
    margin-bottom: 0px;
  }
  .headerroot-class-name1 {
    margin-right: 0px;
  }
  .headerroot-class-name2 {
    align-self: center;
  }
  .headerroot-class-name7 {
    align-self: center;
  }
  .headerroot-class-name8 {
    align-self: center;
  }
  .headerroot-class-name9 {
    align-self: center;
  }
  .headerroot-class-name13 {
    margin-bottom: 0px;
  }
  .headerroot-class-name15 {
    align-self: center;
  }
  .headerroot-class-name16 {
    align-self: center;
  }
  .headerroot-class-name18 {
    align-self: center;
  }
  .headerroot-class-name19 {
    align-self: center;
  }
  .headerroot-class-name20 {
    align-self: center;
  }
  .headerroot-class-name21 {
    align-self: center;
  }
  .headerroot-class-name22 {
    align-self: center;
  }
  .headerroot-class-name23 {
    align-self: center;
  }
  .headerroot-class-name24 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .header-container2 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
  }
  .header-navlink16 {
    font-size: 0.3rem;
  }
  .header-navlink17 {
    font-size: 0.3rem;
  }
  .header-navlink18 {
    font-size: 0.3rem;
  }
  .header-navlink19 {
    font-size: 0.3rem;
  }
  .header-navlink20 {
    font-size: 0.3rem;
  }
  .header-navlink21 {
    font-size: 0.3rem;
  }
  .headerroot-class-name1 {
    margin-right: 0px;
  }
  .headerroot-class-name2 {
    align-self: center;
  }
  .headerroot-class-name7 {
    align-self: center;
  }
  .headerroot-class-name8 {
    align-self: center;
  }
  .headerroot-class-name9 {
    align-self: center;
  }
  .headerroot-class-name15 {
    align-self: center;
  }
  .headerroot-class-name16 {
    align-self: center;
  }
  .headerroot-class-name18 {
    align-self: center;
  }
  .headerroot-class-name19 {
    align-self: center;
  }
  .headerroot-class-name20 {
    align-self: center;
  }
  .headerroot-class-name21 {
    align-self: center;
  }
  .headerroot-class-name22 {
    align-self: center;
  }
  .headerroot-class-name23 {
    align-self: center;
  }
  .headerroot-class-name24 {
    align-self: center;
  }
}
