.component-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
.component-icon1 {
  fill: var(--dl-color-gray-900);
  width: 13px;
}
.component-text {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-halfunit);
}
@media(max-width: 760px) {
  .component-container {
    display: none;
  }
}
