.footer-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
.footer-container2 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container3 {
  width: 542px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-navlink {
  display: contents;
}
.footer-text1 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  text-decoration: none;
}
.footer-link1 {
  color: var(--dl-color-secondary-400);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline;
}
.footer-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 6rem;
  flex-direction: column;
}
.footer-text2 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-link2 {
  color: var(--dl-color-secondary-400);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-link3 {
  color: var(--dl-color-secondary-400);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: #e3e8efff;
}
.footer-social-bar {
  width: 100%;
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.footer-link4 {
  display: contents;
}
.footer-icon10 {
  width: 32px;
  height: 32px;
  margin-right: 32px;
  text-decoration: none;
}
.footer-link5 {
  display: contents;
}
.footer-icon12 {
  width: 32px;
  height: 32px;
  margin-right: 32px;
  text-decoration: none;
}
.footer-link6 {
  display: contents;
}
.footer-icon14 {
  width: 32px;
  height: 32px;
  margin-right: 32px;
  text-decoration: none;
}
.footer-link7 {
  display: contents;
}
.footer-icon16 {
  width: 32px;
  height: 32px;
  margin-right: 32px;
  text-decoration: none;
}
.footer-link8 {
  display: contents;
}
.footer-icon18 {
  width: 32px;
  height: 32px;
  text-decoration: none;
}
.footer-text3 {
  color: var(--dl-color-secondary-400);
  align-self: center;
  text-align: center;
}
.footer-link9 {
  text-decoration: underline;
}

@media(max-width: 1600px) {
  .footer-link1 {
    text-decoration: underline;
  }
  .footer-text3 {
    color: var(--dl-color-secondary-400);
  }
  .footer-link9 {
    text-decoration: underline;
  }
}
@media(max-width: 1200px) {
  .footer-link1 {
    color: var(--dl-color-secondary-400);
  }
  .footer-link2 {
    color: var(--dl-color-secondary-400);
  }
  .footer-link3 {
    color: var(--dl-color-secondary-400);
  }
  .footer-text3 {
    color: var(--dl-color-secondary-500);
  }
}
@media(max-width: 991px) {
  .footer-container2 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container3 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-container5 {
    align-self: flex-start;
    align-items: center;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .footer-social-bar {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 760px) {
  .footer-container1 {
    width: 100%;
  }
  .footer-container2 {
    width: 100%;
  }
  .footer-container3 {
    width: 100%;
  }
  .footer-link1 {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .footer-container4 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container5 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 479px) {
  .footer-container3 {
    width: 100%;
  }
  .footer-link1 {
    text-align: center;
  }
  .footer-social-bar {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
