.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text2 {
  margin-left: 32px;
}
.navigation-links-text3 {
  margin-left: 32px;
}
.navigation-links-text4 {
  margin-left: 32px;
}
.navigation-links-text5 {
  margin-left: 32px;
}










@media(max-width: 760px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
