.secondary-button-container {
  display: flex;
  position: relative;
}
.secondary-button-button {
  color: var(--dl-color-gray-white);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
  background-color: var(--dl-color-secondary-300);
}
.secondary-button-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
.secondary-button-button:active {
  background-color: var(--dl-color-secondary-100);
}
.secondary-buttonroot-class-name {
  margin-top: var(--dl-space-space-unitandhalf);
}
.secondary-buttonroot-class-name1 {
  display: none;
}
.secondary-buttonroot-class-name2 {
  display: none;
}
.secondary-buttonroot-class-name3 {
  display: none;
}
.secondary-buttonroot-class-name4 {
  display: none;
}
.secondary-buttonroot-class-name5 {
  display: none;
}
.secondary-buttonroot-class-name6 {
  display: none;
}
.secondary-buttonroot-class-name7 {
  display: none;
}
.secondary-buttonroot-class-name8 {
  margin-top: var(--dl-space-space-unitandhalf);
}
.secondary-buttonroot-class-name9 {
  margin-top: var(--dl-space-space-unitandhalf);
}
.secondary-buttonroot-class-name10 {
  display: none;
}
.secondary-buttonroot-class-name11 {
  display: none;
}
.secondary-buttonroot-class-name12 {
  display: none;
}
.secondary-buttonroot-class-name13 {
  display: none;
}
.secondary-buttonroot-class-name14 {
  display: none;
}
.secondary-buttonroot-class-name15 {
  display: none;
}
.secondary-buttonroot-class-name16 {
  display: none;
}
